
// Pefra colours

$pefra-background-primary: white;
$pefra-background-secondary: #2B77B5;

$pefra-fontcolor-light: white;
$pefra-fontcolor-dark: black;

$pefra-news-background:  rgba(52, 133, 198, 0.9);

$pefra-color-white: white;
$pefra-color-light-blue: #55738D;
$pefra-color-dark: #d3dee2;

