
// Pefra colours

$pefra-background-primary: white;
$pefra-background-secondary: #2B77B5;

$pefra-fontcolor-light: white;
$pefra-fontcolor-dark: black;

$pefra-news-background:  rgba(164, 216, 249, 0.2);

$pefra-color-white: white;
$pefra-color-light-blue: #55738D;
$pefra-color-dark: #3D4851;

